<odoo>
    <data>

        <menuitem id="menu_master_data"
                  name="Operaciones de Retail"
                  parent="point_of_sale.menu_point_root"
                  groups="point_of_sale.group_pos_manager"
        />

        <menuitem id="menu_product_variant"
                  name="Valor de las variantes"
                  parent="menu_master_data"
                  sequence="7"
                  groups="point_of_sale.group_pos_manager"
        />

        <menuitem id="menu_attribute_action" parent="menu_product_variant" action="product.attribute_action"/>
        <menuitem id="menu_variants_action" parent="menu_product_variant" action="product.product_attribute_value_action"/> <!-- v13 only-->

        <menuitem id="menu_clients"
                  name="Clientes"
                  parent="point_of_sale.menu_point_root"
                  groups="point_of_sale.group_pos_manager"
        />

        <menuitem id="menu_catalog_pricelists"
                  name="Listas de Precios"
                  parent="menu_clients"
                  action="product.product_pricelist_action2"
                  sequence="1"
                  groups="product.group_sale_pricelist"/>
        <menuitem id="menu_action_partner_form"
                  name="Clientes"
                  sequence="2"
                  parent="menu_clients"
                  action="base.action_partner_form"/>
        <menuitem id="menu_action_partner_supplier_form"
                  name="Vendedores"
                  parent="menu_clients"
                  sequence="3"
                  action="base.action_partner_supplier_form"/>

        <menuitem id="menu_pos_database"
                  name="Base de Datos"
                  parent="menu_master_data"
                  sequence="100"
                  groups="point_of_sale.group_pos_manager"
        />

    </data>
</odoo>
